<h1>
    This is the dashboard
</h1>
<h1>Dashboard</h1>
<!--<p>Welcome <%#= user.name %>-->
</p>
<p>
   <!-- <%#= user.email %>-->
<a href="/users/logout">Log out</a>
<a href="/dashboard/edit-profile">Edit Profile</a>

<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-smile"></i> ChatCord</h1>
			</header>
			<main class="join-main">
				<form action="/chatroom">
					<div class="form-control">
						<label for="username" hidden>Username</label>
						<input type="text" hidden
                        name="username"
                        id="username"
                        placeholder="Enter username..."
                        value=<%= data.username%>
                        required />
							
						
					</div>
					<div class="form-control">
						<label for="room">Room</label>
						<select name="room" id="room">
							<!--* Denna lista nedan hämtar dess value från databasen kollektionen heter rooms och använder models/rooms.js-->
							<%  data.result2.forEach((element) => { %>
									<option value="<%=element.room %>">
										<%=element.room %>
									</option>
								<% }) %>
						</select>
					</div>
				

					<button type="submit" class="btn">Join Chat</button>
				</form>
			</main>
		</div>

<form action="" method="post" id="room_form">
    <input type="text" type="room" name="room" id="room_id" value="<%= typeof room != 'undefined' ? room : '' %>">
    <button type="submit">Create Room</button>
</form>


<script src="/js/handle_rooms.js"></script>
