<h1>
    This is the dashboard
</h1>
<h1>Dashboard</h1>
<!--<p>Welcome <%#= user.name %>-->
</p>
<p>
   <!-- <%#= user.email %>-->
<a href="/users/logout">Log out</a>
<a href="/dashboard/edit-profile">Edit Profile</a>


<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>