<h1>Edit profile page </h1>
<form 
action="/dashboard/view-profile" 
method="post" 
enctype="multipart/form-data"
>
    <input type="file" name="profile_pic"><br>
    <input type="submit" value="Save">
<a href="view-profile">Go back </a>
</form>