<h1>Edit profile page </h1>
<form 
action="/upload-profile-pic" 
method="post" 
enctype="multipart/form-data"
>
    <input type="file" name="profile_pic"><br>
    <input type="submit" value="Save">
<button>Go back </button>
</form>