<h1>Edit profile page</h1>
<% var images; %>
<!--* action är som "on action; do this"-->
<form action="/edit-profile" method="post" enctype="multipart/form-data">
  <input type="file" name="profile_pic" /><br />
  <input type="submit" value="Save" />
</form>
<% if(images){ %>
<img src=".<%=images %>" /><br />
<% } %>
