
<h1>SLACK CLONE</h1>
<p>Create an account or login</p>
<a href="/users/register">Register</a>
<a href="/users/login"> Login</a>


<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>