<h1>view-profile</h1>
<a a href="/dashboard/edit-profile">Edit profile</a>
<a a href="/dashboard">Go to dashboard</a>

<h1>File uploaded!</h1>
<img src="<%=image %>" /><br />
<%= console.log(image) %>
<img src="../uploads/3.jpg" />