<h1>view-profile</h1>
<a a href="/dashboard/edit-profile">Edit profile</a>
<a a href="/dashboard">Go to dashboard</a>

<h1>File uploaded!</h1>
    <!--? Är det en dålig lösning att ha med den här extra punkten? om jag ändrar filename i dashboard till: ../uploads, så skapas mappen utanför projektet -->
<img src=".<%=images %>" /><br />