<h1>view-profile</h1>
<a a href="/dashboard/edit-profile">Edit profile</a>

<form action="/dashboard" method="GET">
  <button type="submit">Go to Dash</button>
</form>
<h1>File uploaded!</h1>
<% if (images) { %>
<img src=".<%=images %>" /><br />
<% } %>
